<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.1/phpunit.xsd"
        backupGlobals="true"
        bootstrap="vendor/autoload.php"
        colors="true">
    <testsuites>
        <testsuite name="JensSchulze\Collection">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
